body{
  margin: 0;
}

a{
  text-decoration: none;
}

.container{
  width: 1170px;
  padding: 0 15px;
  margin: 0 auto;
}

header {
  height: 40px;
  width: 100%;
  background-color: rgb(252, 172, 52);
  position: fixed;
  top: 0;
  margin: 0 auto;
  z-index: 10;
}

.header-left a{
  line-height: 40px;
  color:white;
  letter-spacing: 4px;
  float: left;
  text-align: left;
}

.header-right{
  float:right;
  background-color: rgba(255,255,255,0.3);
  transition: all 0.5s;
}

.header-right:hover{
 background-color: rgba(255, 255, 255, 0.5);
}

.header-right a{
  line-height: 40px;
  padding: 0px 25px;
  color: white;
  display:block;
}

.top-wrapper{
  padding: 240px 0 200px 0;
  background-image: url(img/img-006.jpg);
  background-size: cover;
  color: white;
  text-align: center;
}

.top-wrapper h1{
  opacity: 0.9;
  font-size: 60px;
  letter-spacing: 4px;
  margin: 0 ;
}
.top-wrapper p1{
  opacity: 0.9;
  font-size: 20px;
}


.btn{
  padding: 8px 30px;
  color: white;
  display: inline-block;
  border-radius: 4px;
  cursor:pointer;
}

.btn-wrapper{
  margin: 30px 0;
}

.signup{
  background-color: rgb(213, 101, 66);
  margin-right: 20px;
}

.signup:hover{
  background-color: rgb(249, 118, 77);
}

.login{
  background-color: rgb(213, 176, 66);
}

.login:hover{
  background-color: rgb(237, 195, 70);
}

.main-wrapper {
  height: 500px;
  /* background-color:rgb(255, 241, 222); */
    background-color: rgb(252, 172, 52);
  text-align: center;
}

.heading {
  padding-top: 60px;
  padding-bottom: 30px;
  color: rgb(56, 56, 56);
}

.heading h2 {
  font-weight: normal;
}


footer{
  padding: 40px;
  background-color: rgb(46, 46, 46);
  text-align: center;
}

.Twitter{
  background-color: #55acee;
  text-align: center;
  margin-bottom: 20px;
}

footer p{
  color:white;
  margin:0;
}
